{% extends '::base.html.twig' %}
{% from '::flash.html.twig' import session_flash %}

{% block title %}Danilo Sanchi{% endblock %}

{% block head_style %}
    {% stylesheets filter='lessphp,cssembed,?yui_css'
        '@DanMainBundle/Resources/public/less/index.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
            media="screen" />
    {% endstylesheets %}
    {% stylesheets filter='cssembed,?yui_css'
        '@DanMainBundle/Resources/public/js/libs/jquery/jquery-ui-1.8.18.custom/css/ui-lightness/jquery-ui-1.8.18.custom.css'
         %}
        <link href="{{ asset_url }}"
            type="text/css"
            rel="stylesheet"
            media="screen" />
    {% endstylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet" type="text/css">
    <link href="/bundles/danmain/js/libs/jquery/jQueryGantt/css/style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block head_script %}
    <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//cdn.zopim.com/?11rm2VNjiDxkfDvZbO5RzOG3HiOvda2Q';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
    <!--End of Zopim Live Chat Script-->
    
    <script data-main="bundles/danmain/js/main" src="bundles/danmain/js/libs/require/require.js"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'DanMainBundle::navbar.html.twig' %}
    {% endblock navbar %}

    {% block container %}
        <div class="container">
            <div class="content">
                <div class="page-header">
                    <h1>{% block headline %}{% endblock %}</h1>
                </div>
                {% block flashes %}
                    {{ session_flash() }}
                {% endblock flashes %}
                {% block content %}
                {% endblock content %}
            </div>
            <footer>
                {% block footer %}
                {% endblock footer %}
            </footer>
        </div>
    {% endblock container %}
{% endblock %}

{% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block #}
        <script type="text/javascript">
            if (window.location.hash == '#_=_'){
                window.location.hash = '';
            }
            if (window.location.pathname == '/_=_'){
                window.location.pathname = '';
            }
        </script>

{% endblock foot_script %} 
