<script type="text/template" id="article">
    <article>
        <div class="date"><%= item.date %></div>
        <div class="title">
            <a href="<%= item.link %>" target="_blank">
                <%= item.title %>
            </a>
        </div>
        <div class="description">
            <%= item.description %>
        </div>
    </article>
</script>

<div class="rss-feeds">
</div>