<div class="canvas">
</div>
{#
Amo fare web, creare qualcosa di utile e di semplice da usare, qualcosa in grado di creare valore.<br/>
Più che altro scrivo codice.<br/>
Per il lato server della Forza uso PHP con Symfony 2 o Silex a seconda del tipo di progetto oppure
semplicemente Wordpress.<br/>
Per il lato client della Forza uso Javascript con jQuery e ultimamente anche Backbone.<br/>
Cerco di impostare il mio lavoro con Scrum e Kanban board.<br/>
Cerco uno o più team con cui integrarmi al fine di lavorare bene ed efficacemente.<br/>
#}
