{% image '@DanMainBundle/Resources/public/images/signature.jpg'
    output='/images/signature.jpg' %}
    <a href="{{ path('home') }}"><img src="{{ asset_url }}" alt="Danilo Sanchi"/></a>
{% endimage %}