<div class="row">
    <div class="span8 maincol">
        <div class="logo pull-left" width="250">
            {% include "DanMainBundle:Default:_logo.html.twig" %} 
        </div>
        <div class="social pull-left">
            {% include "DanMainBundle:Default:_social.html.twig" %} 
        </div>
    </div>
</div>
<hr/>