body {
    padding-top: 100px;
}

.navbar {
    .logo {
        margin-left: -10px;
        padding-top: 10px;
        padding-bottom: 10px;
        img {
            height: 40px;
        }
    }
    .login {
        padding: 17px 0px 17px 20px;
    }
    .logout {
        padding: 17px 0px 17px 20px;
        a {
            margin-top: 4px;
        }
    }
    .user {
        padding: 17px 0px 17px 20px;
    }
    .image {
        padding: 10px 0px 10px 20px;
    }
    .btn-mini-micro {
        margin-top: -7px;
    }
}
.icon-google {
    background-image: url(../img/Google_16px.png);
    background-position: 0 0;
    width: 16px;
    height: 16px;
}
.icon-facebook {
    background-image: url(../img/Facebook_16px.png);
    background-position: 0 0;
    width: 16px;
    height: 16px;
}

.loading {
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
}

#remember_me {
    margin-top: 0px;
    margin-left: 20px;
}

.page-center {
    margin: 0 auto;
    width: 260px;
}


.btn-mini-micro {
    height: 16px;
    line-height: 16px;
    font-size: 12px;
}

.alert {
    max-width: 500px;
    margin: 0 auto;
}


form {
    ul.errors {
        margin: 0;
        list-style: none;
        font-size: 11px;
        color: @red;
        li {
            height:16px;
            line-height:16px;
            text-align: right
        }
    }
}

.masonry {
    .item {
        width: 200px;
        margin: 0;
        margin-bottom:10px;
    }
    .item.w2 { width: 400px; }
    .item.w3 { width: 600px; }
    .item.w4 { width: 800px; }
}


.color_square {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    display: block;
    float: left;
    background: darken(@white, 20%)
}

ul.actions {
    margin-bottom: 0px;
    li {
        height: 20px;
        form {
            margin: 0px;
        }
        button {
            padding: 0px;
            border: 0px;
        }
    }
}

table.record_properties {
    width: 70%;
    th {
        width: 110px;
    }
}
table.records_list {
    td.move {
        cursor: pointer;
    }
}

.form-actions {
    form {
        display: inline;
    }
}

form.form {
    textarea {
        height: 100px;
    }
}

.tag_tagset {
    input[type="text"] {
        margin: 0px;
        width: 100px;
        height: 16px;
        line-height: 20px;
    }
}